@import "./home.scss";
@import "./header.scss";
@import "./sidebar.scss";
@import "./tags.scss";
@import "./main.scss";
@import "../service/system/xtgl.scss";
@import "../service/system/aqdgl.scss";
@import "../service/system/ipgl.scss";
@import "../service/system/yhgl.scss";
@import "../service/system/zyxlgl.scss";
@import "../service/system/zzjggl.scss";

.header {
  color: $white;

  .logo {}
}



.aqdgl,
.bz,
.gxrz,
.hdgl,
.ipgl,
.main,
.tjfx,
.xtgl,
.yhgl,
.yjfk,
.zygl,
.zyxlgl,
.zzjggl {
  @include wh($percent100);
  color: $black;
  box-sizing: border-box;
  padding: .05rem;
}
