.sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 0.7rem;
  bottom: 0;
  font-size: 0.18rem;
  .sidebar-el-menu {
    height: 100%;
    background-color: $bg_color;
    &:not(.el-menu--collapse) {
      width: 2rem;
    }

    .el-submenu {
      .el-submenu__title {
        span {
          color: $white;
        }
      }
      .el-menu {
        background-color: $bg_color;
        .is-disabled{
          color: $white;
          opacity: 1;
        }
      }
    }
    .el-menu-item, .is-disabled{
      opacity: 1;
      background-color: $bg_color;
    }
  }
  .my_icon{
    display: inline-block;
    width: .18rem;
    height: .18rem;
    margin-right: .05rem;
  }
}

.el-menu-item,
.el-submenu__title {
  color: $white;
  font-size: 0.18rem !important;
}

.el-submenu .el-menu-item {
  min-width: 1.99rem !important;
}
.el-menu--vertical{
  background-color: $bg_color;
  ul{
    background-color: $bg_color;

  }
}

.xtgl_icon{
  @include imgBase('xtgl');
}
.hdgl_icon{
  @include imgBase('hdgl');
}
.zygl_icon{
  @include imgBase('zygl');
}
.yjfk_icon{
  @include imgBase('yjfk');
}
.tjfx_icon{
  @include imgBase('tjfx');
}
.bz_icon{
  @include imgBase('bz');
}
.gxrz_icon{
  @include imgBase('gxrz');
}
