@import "./core/reset.scss";
@import "./components/common/theme.scss";
@import "./components/common/common.scss";

#app,
body,
html {
  @include wh($percent100);
  background-color: $white;
  color: $white;
}

.header {
  background-color: $bg_color;
}

.el-menu-item i,
.el-submenu__title i {
  color: $white !important;
}

.collapse-btn:hover,
.el-menu-item:hover,
.el-submenu__title:hover {
  background-color: $bg_hover !important;
}
